<div align="center"><p class="spacer" height="1"></p></div>
<table style="padding:40px;">
    <tr style="padding:40px;">
        <td style="padding:40px;">
            <a href="~/Graphics/SampleReport.pdf" target="_blank"> <img src="~/Graphics/SampleReport.png" class="img-thumbnail reportTB" /></a>
        </td>
        @if (ViewBag.Invoice != null)
        {
            <td style="padding:40px;">
                <a href="~/Graphics/SampleInvoice.pdf" target="_blank"><img src="~/Graphics/SampleInvoice.png" class="img-thumbnail reportTB" /></a>
            </td>
        }
    </tr>
    <tr style="padding:40px;">
        <td align="center">
            <p style="font-family:'Trebuchet MS'; font-weight:bold;"> Quick Report - Order# @ViewBag.OrderNum</p>
        </td>
        @if (ViewBag.Invoice != null)
        {
            <td align="center">
                <p style="font-family:'Trebuchet MS'; font-weight:bold;"> Invoice - Order# @ViewBag.OrderNum</p>
            </td>
        }
    </tr>

</table>