@{
    ViewBag.Title = "Contact";
}
<p align="center"><img src="~/Graphics/salesrep.jpg" class="inlayimage" width="100%" style="box-shadow:none; border:none;"></p>
<em><p class="mylilhead">Contact Us</p></em>


<table class="contacttable">
    <tr style="border-bottom:outset">
        <th></th>
        <th>Phone</th>
        <th>Address</th>
        <th>Email</th>
    </tr>

    <tr>
        <td width="5%">&nbsp;</td>
        <td>
          
            <a href="tel:425.555.0100">425.555.0100</a>
        </td>
        <td>
            <a href="https://goo.gl/maps/TqUGpAFizAL2" target="_blank">4634 E Marginal Way S<br /> Seattle, WA 98134 <br /></a>
        </td>
        <td>
            <a href="mailto:Support@northwestlabs.com">Support@northwestlabs.com</a><br />
            
        </td>
    </tr>
</table>
