@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="homejumbo">
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        <p align="left" class="myhead" style="margin-top:0px;"><span style="font-size:30px; line-height:50%;">Hello @User.Identity.GetUserName(),<br /><br /></span> We are <span style="font-size:210px; line-height:100%">Northwest Labs.</span></p>
    }
    else
    {
        <p align="left" class="myhead" style="margin-top:0px;"> <br /><br />We are <span style="font-size:210px; line-height:100%">Northwest Labs.</span></p>
    }




</div>


<div class="whitepar">
    <p class="mymedhead">About Us</p>
    <p class="homepar">
        Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.
    </p>
    <p><a class="btn btn-default btn-outline-dark" style ="font-size:25px;" href="@Url.Action("About", "Home")">Read more &raquo;</a></p>
</div>

<br />
<br />
<br />

<div class="medpar" align="right">
    <p class="mymedhead">Place an Order</p>
    <p class="homepar">We have lab technicians ready to test your compounds, so <br /><em>Sign In</em> or <em>Register</em> to place an order today!</p>
    <p><a class="btn btn-default btn-outline-dark" style="font-size:25px;" href="@Url.Action("Login", "Account") "> &laquo; Sign Up</a></p>
    <br />
    <br />
</div>

<br />
<br />
<br />

<div class="whitepar">
    <p class="mymedhead">Contact Us</p>
    <p class="homepar">Still have questions after searching our website resources?<br /> We have sales reps ready to help!</p>
    <p><a class="btn btn-default btn-outline-dark" style ="font-size:25px;" href="@Url.Action("Contact", "Home")">Call Us &raquo;</a></p>
  
</div>

<br />
<br />
<br />
<br />
