
@{
    ViewBag.Title = "LabInfo";
}

<h2>Change Lab Information</h2>

<ul>
    <li>
        @Html.ActionLink("View Assays", "Index", "Assays")
    </li>
    <li>
        @Html.ActionLink("View Tests", "Index", "Tests")
    </li>
    <li>
        @Html.ActionLink("View Materials", "Index", "Materials")
    </li>
</ul>



