
@{
    ViewBag.Title = "Services";
}

<em><p class="mylilhead">Services</p></em>

<p class="homepar" style="font-size:25px">Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.
    Browse our catalog for information on individual assays and tests or view the protocal notebook for more info. </p>

<table width="100%">
    <tr>
        <td class="servicetab">
            <a href="@Url.Action("Catalog","Home") "><img src="~/Graphics/service2.png" width="100%" /></a>
        </td>
        <td class="servicetab">
            <a href="@Url.Action("Catalog","Home") "> <img src="~/Graphics/service1.png" width="100%" /></a>
</td>
    </tr>
</table>