body {
    padding-top:0px;
    background-image:url(../Graphics/back1.png);
    background-size:100%;
}

.bd_Contact {
    padding-top: 0px;
    background-image: url(../Graphics/back2.png);
    background-size: 100%;
}

.bd_About {
    padding-top: 0px;
    background-image: url(../Graphics/back3.png);
    background-size: 100%;
}

div{
    background-color:white;
}

h2 {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #196767;
}

h1 {
    font-family: 'Century Gothic';
    font-weight: bolder;
    color: #0f3e3e;
}

a {

    color: #248f8f;
    font-family: 'Century Gothic';
}

    a:hover {
        color: #196767;
        font-family: 'Century Gothic';
        text-decoration:none;
    }

p {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.footertext{
    font-family:''Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif', Gabriola;
    color: gray;
    font-style:italic;
}

.pg{
    font-family:Century;
}
.mynavs {
    position: fixed;
    width: 100%;
    background-color: white;
}
.mynavsul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 -1px 1px #666, /*top external shadow*/
    inset 0 -2px 2px rgba(41,163,163,.8), /*bottom internal shadow*/
    inset 0 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
}
.mynavsli {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 18px;
 
}

    .mynavsli:hover {
        background-color: #c2f0f0;
        color: white;
        box-shadow: inset 0 -2px 2px rgba(41,163,163,.8); /*bottom internal shadow*/
    }

    .mynavsli a:hover{
        color:white;
    }

    .mynavsli a {
        color: #248f8f;
        font-family: 'Century Gothic';
        font-size: 20px;
    }

        .mynavsli a:hover {
            color: #248f8f;
            text-decoration: none;
        }
.mynavsimg {
    float: left;
    display: block;
    padding-left: 25px;
    padding-right: 0px;
    padding-top:5px;
}
.mynavstitle a {
    float: left;
    display: block;
    color: #1f7a7a;
    text-align: center;
    font-size: 32px;
    padding: 4px 6px;
    
    text-decoration: none;
    font-family: 'Century Gothic','Trebuchet MS';
}

    .mynavstitle a:hover {
        color: #1f7a7a;
        text-decoration: none;
    }


.adnavs {
    position: fixed;
    float: left;
    width:100%;
}

.adnavsul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    box-shadow: 0 -1px 1px #666, /*top external shadow*/
    inset 0 -2px 2px rgba(41,163,163,.8), /*bottom internal shadow*/
    inset 0 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
}

.adnavsli {
    background-color: #28a4a4;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 -1px 1px #666, /*top external shadow*/
    inset 0 -2px 2px rgba(41,163,163,.8), /*bottom internal shadow*/
    inset 0 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
}

    .adnavsli:hover {
        background-color: #196767;
        color: white;
        box-shadow: 0 -1px 1px #666, /*top external shadow*/
        inset 0 -2px 2px rgba(41,163,163,.8), /*bottom internal shadow*/
        inset 0 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
    }

    .adnavsli a:hover {
        color: white;
    }

    .adnavsli a {
        color: white;
        font-family: 'Century Gothic';
        font-size: 20px;
    }

        .adnavsli a:hover {
            color: white;
            text-decoration: none;
        }

.inlayimage {
    align-content: center;
    border-color: #196767;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0 10px 15px rgba(41,163,163,.8); /*bottom internal shadow*/
}

.myhead {
    line-height: 60%;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 90px;
    font-family: 'Century Gothic';
    font-weight: bolder;
    vertical-align: top;
}

.mymedhead {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #196767;
    font-size:100px;
}

.mylilhead {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #196767;
    font-size: 60px;
}

#homejumbo {
    padding-top: 0px;
    vertical-align: top;
    background-color: #99e6e6;
}

.homepar{
    font-size:30px;
    font-family:'Trebuchet MS';
    color:black;
}

.medpar {
    padding-left: 20px;
    padding: 40px;
    background-color: #d6f5f5;
}

.whitepar {
    padding: 40px;
    
}

.contacttable{
    width:100%;
    padding:20px;
    font-family:'Trebuchet MS';
    font-size:24px;
    align-content:center;
}

.servicetab{
    padding:20px;

}