body {
    padding-top:0px;
    background-image:url(../Graphics/back1.png);
    background-size:100%;
}

div{
    background-color:white;
}

h2 {
    font-family: 'Century Gothic';
    font-weight: bold;
}

h1 {
    font-family: 'Century Gothic';
    font-weight: bolder;
}

a {
    color: #248f8f;
    font-family: 'Century Gothic';
}

p {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.footertext{
    font-family:'Century Gothic', Gabriola;
    color: gray;
    font-style:italic;
}

.pg{
    font-family:Century;
}
.mynavs {
    position: fixed;
    width: 100%;
    background-color: white;
}
.mynavsul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 -1px 1px #666, /*top external shadow*/
    inset 0 -2px 2px rgba(41,163,163,.8), /*bottom internal shadow*/
    inset 0 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
}
.mynavsli {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
 
}

    .mynavsli:hover {
        background-color: #c2f0f0;
        color: white;
        box-shadow: inset 0 -2px 2px rgba(41,163,163,.8); /*bottom internal shadow*/
    }

    .mynavsli a:hover{
        color:white;
    }

    .mynavsli a {
        color: #248f8f;
        font-family: 'Century Gothic';
        font-size: 20px;
    }

        .mynavsli a:hover {
            color: #248f8f;
            text-decoration: none;
        }
.mynavsimg {
    float: left;
    display: block;
    padding-left: 25px;
    padding-right: 0px;
    padding-top:5px;
}
.mynavstitle a {
    float: left;
    display: block;
    color: #1f7a7a;
    text-align: center;
    font-size: 32px;
    padding: 4px 6px;
    
    text-decoration: none;
    font-family: 'Century Gothic','Trebuchet MS';
}

    .mynavstitle a:hover {
        color: #1f7a7a;
        text-decoration: none;
    }


